:host {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--fc-color-fg);
  font-size: var(--fc-font-xlarge);
  margin-bottom: 48px;
}
