:host {
  display: block;
  max-width: 80vw;
}
.input {
  margin-bottom: 24px;
}
.quote-update {
  text-align: center;
  padding: 16px;
  background-color: var(--fc-color-input-bg);
  color: var(--fc-color-accent);
  border-radius: var(--fc-border-radius);
  overflow: hidden;
  margin-bottom: 24px;
}
.error {
  padding: 16px;
  text-align: center;
  background-color: var(--fc-color-input-bg);
  color: var(--fc-color-error);
  border-radius: var(--fc-border-radius);
  overflow: hidden;
  margin-bottom: 24px;
}
