<ng-container *ngIf="model">
  <fc-input-money
    [formControl]="sentControl"
    [currency]="model.sent"
    [pending]="isSentPending"
    label="You send"
    class="input"
  ></fc-input-money>
  <div class="rate" [class.rate--hidden]="!rate">Exchange rate: {{ rate }}</div>
  <fc-input-money
    [formControl]="receivedControl"
    [currency]="model.received"
    [pending]="isReceivedPending"
    label="You get"
    class="input"
  ></fc-input-money>
  <div class="messages">
    <div *ngIf="quoteCounter >= 2" class="quote-update">
      The quote has been updated
    </div>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>
  </div>
</ng-container>
