:host {
  display: block;
  max-width: 80vw;
}
.messages {
  padding: 24px 0;
  height: 72px;
}
.quote-update {
  text-align: center;
  padding: 16px;
  background-color: var(--fc-color-input-bg);
  color: var(--fc-color-accent);
  border-radius: var(--fc-border-radius);
  overflow: hidden;
  margin-bottom: 24px;
}
.error {
  padding: 16px;
  text-align: center;
  background-color: var(--fc-color-input-bg);
  color: var(--fc-color-error);
  border-radius: var(--fc-border-radius);
  overflow: hidden;
  margin-bottom: 24px;
}
.rate {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  margin: 8px 0;
}
.rate--hidden {
  opacity: 0;
}
