<ng-container *ngIf="model">
  <div *ngIf="quoteCounter >= 2" class="quote-update">
    The quote has been updated
  </div>
  <div *ngIf="error" class="error">
    {{ error }}
  </div>
  <fc-input-money
    [formControl]="sentControl"
    [currency]="model.sent"
    [debounceTime]="500"
    [pending]="isSentPending"
    label="You send"
  ></fc-input-money>
  <fc-input-money
    [formControl]="receivedControl"
    [currency]="model.received"
    [debounceTime]="500"
    [pending]="isReceivedPending"
    label="You get"
  ></fc-input-money>
</ng-container>
