:root {
  --fc-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;

  --fc-font-base: 16px;
  --fc-font-small: 14px;
  --fc-font-large: 22px;
  --fc-font-xlarge: 36px;

  --fc-border-radius: 4px;

  --fc-color-bg: hsla(205, 50%, 55%, 1);
  --fc-color-fg: hsla(0, 100%, 100%, 0.85);
  --fc-color-button-bg: hsla(205, 70%, 40%, 1);
  --fc-color-button-fg: hsla(0, 100%, 100%, 0.7);
  --fc-color-input-bg: hsla(205, 50%, 90%, 1);
  --fc-color-input-fg: hsla(0, 100%, 0%, 0.7);
  --fc-color-accent: hsla(205, 90%, 40%, 1);
  --fc-color-error: hsla(345, 90%, 40%, 1);
}
